{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="is-pulled-right">
        {% include 'buttonbar.html.twig' %}
    </div>

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }}</p>
    </div>


    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">Datum:</label>
                <div class="control">
                    <input class="input is-medium" type="text" id="date" value="2021-01-30">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Gültig?</label>
                <div class="control">
                    <input class="input is-medium" type="text" id="checkdate">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>

    const callApi = async () => {

        const date = document.getElementById('date').value;

        const response = await fetch('/api/v1/checkdate?date=' + date );
        const json = await response.json();
        document.getElementById('checkdate').value = json.checkdate;

    }

    document.getElementById('date').addEventListener ("change", function () {
        callApi();
    });

    callApi();

</script>

{% endblock %}