{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="is-pulled-right">
        {% include 'buttonbar.html.twig' %}
    </div>

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }}</p>
    </div>

    <div class="columns mt-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">Jahr:</label>
                <div class="control">
                    <select class="input is-medium" id="year"></select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Region:</label>
                <div class="control">
                    <select class="input is-medium" id="region"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="columns mb-5">
        <div class="column">
            <h3 class="is-size-4">Feiertage:</h3>
            <div class="is-bordered is-rounded has-background-light p-3">
                <ul id="holidays"></ul>
            </div>
        </div>
    </div>

    <div class="colum my-6">
        <h3 class="my-2 is-size-4">Request Beispiel:</h3>
        <div class="box">
            <strong>GET:</strong> https://digidates.de/api/v1/germanpublicholidays?year=2017&amp;region=de
        </div>
    </div>

    <div class="colum mt-5">
        <h3 class="my-4 is-size-4">Response Beispiel:</h3>
        <div class="my-4 is-bordered">
            <code class="p-4 is-block">
                <strong>JSON:</strong><pre>
{
    "2017-01-01" : "Neujahr",
    "2017-04-14" : "Karfreitag",
    "2017-04-17" : "Ostermontag",
    "2017-05-01" : "Tag der Arbeit",
    "2017-05-25" : "Christi Himmelfahrt",
    "2017-06-05" : "Pfingstmontag",
    "2017-10-03" : "Tag der Deutschen Einheit",
    "2017-12-25" : "1. Weihnachtstag",
    "2017-12-26" : "2. Weihnachtstag"
}</pre>
            </code>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>

    const setData = async () => {

        let response = await fetch('/api/v1/germanpublicholidays/supportedyears');
        let json = await response.json();
        let html = '';
        for(let i = 0; i < json.length; i++) {
            html += '<option>' + json[i] + '</option>';
        }
        document.getElementById('year').innerHTML = html;

        response = await fetch('/api/v1/germanpublicholidays/supportedregions');
        json = await response.json();

        html = '';
        for (const [key, value] of Object.entries(json)) {
            html += '<option value="' + key + '">' + value.de + '</option>';
        }
        document.getElementById('region').innerHTML = html;
    }

    const callApi = async () => {

        const year = document.getElementById('year').value;
        const region = document.getElementById('region').value;
        const response = await fetch('/api/v1/germanpublicholidays?year=' + year + '&region=' + region);
        const json = await response.json();

        let html = '';
        for (let item in json) {
            html += '<li>' + item + ': ' + json[item] + '</li>';
        }

        document.getElementById('holidays').innerHTML = html;
    }

    document.getElementById('year').addEventListener('change', function () {
        callApi();
    });

    document.getElementById('region').addEventListener('change', function () {
        callApi();
    });

    setData().then(() => { callApi() });

</script>

{% endblock %}