{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <section class="hero">
        <div class="hero-body">
            <div class="title">
                <h2>{% trans %}Willkommen bei DigiDates.de{% endtrans %}</h2>
            </div>
            <div class="subtitle my-4">

                <div class="my-4">
                    {% trans %}DigiDates.de bietet eine Rest-API für Zeit- und Datumsberechnungen.{% endtrans %}<br>
                    {% trans %}Der Zugriff auf die API ist kostenlos und aktuell ohne Limitierung möglich.{% endtrans %}
                </div>

                <div><a class="button mr-2" href="{{ url('openapi.yaml') }}">
                        <img src="/img/swagger.svg" alt="Swagger Icon" class="mr-2" width="22" height="22"> OpenAPI Specification
                    </a> {% include 'buttonbar.html.twig' %}</div>
            </div>
        </div>
    </section>




{% endblock %}

