{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}



    <section class="hero">
        <div class="hero-body">
            <div class="title">
                Willkommen bei DigiDates.de
            </div>
            <div class="subtitle my-4">

                <div class="my-4">
                    DigiDates.de bietet eine Rest-API für Zeit- und Datumsberechnungen.<br>
                    Der Zugriff auf die API ist kostenlos und aktuell ohne Limitierung möglich.
                </div>

                <div><a class="button mr-2" href="https://127.0.0.1:8000/docs/openapi.yaml">
                        <img src="/img/swagger.svg" alt="Swagger Icon" class="mr-2" width="22" height="22"> OpenAPI Specification
                    </a> {% include 'buttonbar.html.twig' %}</div>
            </div>
        </div>
    </section>




{% endblock %}

