{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <p>{{ message }}</p>

    {% include 'buttonbar.html.twig' %}

    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">Human Time:</label>
                <div class="control">
                    <input class="input is-medium" type="datetime" id="humantime">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Unix Time:</label>
                <div class="control">
                    <input class="input is-medium" type="text" id="unixtime">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>

    async function getUnixTime(ts = null)
    {
        let url = 'https://digidates.de/api/v1/unixtime';
        if (ts) {
            url += '/' + ts;
        }
        const response = await fetch(url);
        const json = await response.json();
        return json.time;
    }

    function setHumanTime(ts = null)
    {
        let date = new Date(ts * 1000);
        document.getElementById('humantime').value = date.toUTCString();
    };

    window.onload = function()
    {
        getUnixTime().then(timestamp => {
            document.getElementById('unixtime').value = timestamp;
            setHumanTime(timestamp);
        })
    }

    document.getElementById('humantime').onchange = function ()
    {
        getUnixTime(this.value).then(timestamp => {
            document.getElementById('unixtime').value = timestamp;
                setHumanTime(timestamp);
        })
    }

    document.getElementById('unixtime').onchange = function ()
    {
        setHumanTime(this.value);
    }
</script>

{% endblock %}