{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <p>Willkommen bei DigiDates.de - Deinem API-Provider für Zeit- und Datumsberechnungen.</p>

    {% include 'buttonbar.html.twig' %}

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }} {% if data.link is defined %}<a class="ml-1 button is-small is-outlined is-rounded" href="{{ data.link }}" target="_blank" rel="noreferrer noopener">Mehr dazu</a>{% endif %}</p>
    </div>

    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">Start:</label>
                <div class="control">
                    <input class="input is-medium" type="datetime-local" id="start" value="2021-01-01T00:00">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Ende:</label>
                <div class="control">
                    <input class="input is-medium" type="datetime-local" id="end" value="2022-01-01T00:00">
                </div>
            </div>
        </div>
    </div>

    <div class="my-4">
        <h3>Fortschritt:</h3>

        <progress class="progress is-info is-medium" value="15" max="100">15%</progress>

    </div>

{% endblock %}

{% block javascripts %}
<script>

    const callApi = async () => {


        const response = await fetch('/api/v1/progress');
        const json = await response.json();

        document.getElementById('week').value = json.week;

        const datum = new Date();
        const options = { year: 'numeric', month: 'long', day: 'numeric'};

        document.getElementById('humantime').value =
            datum.toLocaleDateString('de-DE', options);

    }


    callApi();

</script>

{% endblock %}