{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="is-pulled-right">
        {% include 'buttonbar.html.twig' %}
    </div>

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }} <a class="ml-1 button is-small is-outlined is-rounded" href="{{ data.link }}" target="_blank" rel="noreferrer noopener">Mehr dazu</a></p>
    </div>

    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">UTC Timestamp:</label>
                <div class="control">
                    <input class="input is-medium" type="datetime" id="humantime">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Unix Time:</label>
                <div class="control">
                    <input class="input is-medium"  type="number" min="0" step="1" id="unixtime">
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>

    async function getUnixTime(ts = null)
    {
        let url = '/api/v1/unixtime';
        if (ts) {
            url += '?timestamp=' + ts;
        }
        const response = await fetch(url);
        const json = await response.json();
        return json.time;
    }

    function setHumanTime(ts = null)
    {
        let date = new Date(ts * 1000);
        document.getElementById('humantime').value = date.toUTCString();
    };

    document.getElementById('humantime').onchange = function ()
    {
        getUnixTime(this.value).then(timestamp => {
            document.getElementById('unixtime').value = timestamp;
                setHumanTime(timestamp);
        })
    }

    document.getElementById('unixtime').onchange = function ()
    {
        setHumanTime(this.value);
    }

    getUnixTime().then(timestamp => {
        document.getElementById('unixtime').value = timestamp;
        setHumanTime(timestamp);
    })
</script>

{% endblock %}