<div class="buttons my-5">
    <a href="/" class="button">Unixtime</a>
    <a href="/week" class="button">Kalenderwoche</a>
    <a href="/leapyear" class="button">Schaltjahr</a>
    <a href="/checkdate" class="button">Gültig</a>
    <a href="/progress" class="button">Fortschritt</a>
</div>