<div class="buttons my-5">
    <a href="/" class="button is-primary">Unixtime</a>
    <a href="/week" class="button is-primary">Kalenderwoche</a>
    <a href="/leapyear" class="button is-primary">Schaltjahr</a>
    <a href="/checkdate" class="button is-primary">Gültiges Datum</a>
    <a href="/age" class="button is-primary">Alter</a>
    <a href="/progress" class="button is-primary">Fortschritt</a>
    <a href="/co2" class="button is-primary">CO² PPM</a>
</div>