<div class="columns">
    <div class="column py-0">
        <h1 class="is-size-1">
            <a href="/" class="has-text-dark">DigiDates.de <sup class="tag is-light">Beta</sup></a>
        </h1>
    </div>
    <div class="column has-text-right py-4">
        <a class="button m-2" href="{{ url('openapi.yaml') }}">
            <img src="/img/swagger.svg" alt="Swagger Icon" height="22" width="22" class="mr-2"> OpenAPI Specification
        </a>
        <a class="button m-2" href="https://github.com/bandemer/digidatesAPI">
            <img src="/img/github.svg" alt="GitHub Icon" height="22" width="22" class="mr-2"> Fork on GitHub
        </a>
    </div>
</div>
<hr>
