<div class="columns">
    <div class="column py-0">
        <h1 class="is-size-1">
            DigiDates.de <sup class="tag is-light">Beta</sup>
        </h1>
    </div>
    <div class="column has-text-right py-4">
        <a class="button" href="https://github.com/bandemer/digidatesAPI">
            <img src="/assets/github.svg" alt="GitHub Icon" height="22" width="22" class="mr-2"> Get source on GitHub
        </a>
    </div>
</div>
<hr>
